.container-winner {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.winner-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6vh;
  
}

.block {
  width: 365px;
  margin-top: 10px;
}

.winner-tac {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  border: rgb(158, 9, 158) solid 4px;
  
}

.Winner-Overall {
  margin-left: 85px;
  
}

