.container-winner {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.winner-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6vh;

}

.block {
  width: 365px;
  
}
.winner-tac {
  display: flex;
  /* align-content: center; */
  
  height: 50px;
  text-align: center;
  margin: 10px 20px;
  background-color: black;
  border: blueviolet solid 2px;

}

.Winner-Overall {
margin-left: 85px;

}

