

h1 {
  color:rgb(190, 63, 190);
  font-size: 80px;
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


p {
color: white;
}

h3 {
  color:rgb(158, 9, 158);
  
}

  

/* .block {
  width: 365px;
  
}
.winner-tac {
  height: 75px;
  text-align: center;
  margin: 10px 20px;
}

.Winner-Overall {
margin-left: 85px;
  /* align-items: center; */
